<!doctype html>
<html lang="en" ng-app="orcabioApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="OrcabioController">
    <form>
      Serviço 1:
      <select ng-model="serviceList" ng-options="service.description for service in services track by service.id" ng-change="calcularOrcamento()">
        <option style="display:none" value="">select a type</option>
      </select>
      Serviço 2:
      <select ng-model="serviceList2" ng-options="service.description for service in services track by service.id" ng-change="calcularOrcamento()"/>
      </select>
    </form>
      <p>Orçamento</p>
      <p ng-bind="orcamento"/>

  </body>
</html>
