<!doctype html>
<html lang="en" ng-app="orcabioApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="OrcabioController">
    <form>
      <select ng-model="serviceList" ng-options="service.description for service in services track by service.id"/>
    </select>
      <select ng-model="serviceList2" ng-options="service.description for service in services track by service.id"/>
      <input type="label" ng-model="orcamento"/>
      <input type="button" value="botao" ng-click="calcularOrcamento()"/>
    </form>
      <p>Nothing here {{'yet' + '!'}}</p>

  </body>
</html>
